html {
    background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
    background-size: cover;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.container {
    background: transparent;
    backdrop-filter: blur(10px);
    width: 75%;
    margin: 220px auto;
    border: 2px solid rgb(6, 0, 0);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 30px 30px rgb(5, 0, 0, 0.5);
}
    .refreshButton {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 1.105vw 0.205vw rgb(35, 47, 62);
        background-color: var(--bg, #232f3e); /* Uses CSS variable or default */
        width: 7vw;
        height: 3vw;
        border-left: 0.4vw solid #b60ee5;
        border-radius: 0.315vw;
        font-weight: bolder;
        font-size: 1.1vw;
        line-height: 3vw;
        text-align: center;
        transition: 0.7s ease-in-out transform, 0.7s ease-in-out;
        color: white; /* Ensure text is readable */
    }

    .refreshButton:hover {
        color: red;
        transition: 0.7s ease-in-out transform, 0.7s ease-in-out;
    }
